{include file="header"}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 品牌管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <input type="hidden" id="goods_id" value="{$id}">
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="mt-10">
                <table class="table table-border table-bordered table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="40"><input name="" type="checkbox" value=""></th>
                        <th width="40">ID</th>
                        <th width="40">单品</th>
                        <th width="40">价格</th>
                        <th width="80">库存</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </article>
    </div>
</section>

<!--_footer 作为公共模版分离出去-->
{include file="footer"}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__HUI__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__HUI__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__HUI__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

</script>
<script type="text/javascript">
    $(document).ready(function() {
        show();
    })
    function show(){
        var goods_id=$('#goods_id').val()
        $.ajax({
            url:"{:url('productlist/show_shop_goods')}",
            type:'post',
            data:{
                goods_id:goods_id,
            },
            dataType:'json',
            success:function(result) {
                if (result.status == 'ok') {
                    var data = result.data
                    var tr = '';
                    for (var i = 0; i < data.length; i++) {
                        tr = tr + "<tr class='text-c'><td><input class='mycheckbox' name='' type='checkbox' value='" + data[i]['gid'] + "'></td><td>" + data[i]['id'] + "</td><td class='text-c'>" + data[i]['key'] + "</td><td class='text-c'>" + data[i]['price'] + "</td><td class='text-c'>" + data[i]['number'] + "</td></tr>"
                    }
                    $('.table tbody').html(tr);
                }
            }
        })
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>